<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="telephone=no"/>
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/style.css">

    <title>分类</title>
</head>
<body>

<header>
    <div class="input-wrapper cate-wrapper">
        <span class="ico-search"></span>
        <input type="search" placeholder="请输入商品名称、品牌名称进行搜索">
    </div>
</header>

<div class="cate-main clearfix">
    <!--分类列表-->
    <div class="cates">
        <ul>
            <li class="active-cate">TOP榜</li>
            <li>天天秒杀</li>
            <li>进口水果</li>
            <li>国产水果</li>
            <li>应季水果</li>
            <li>超值抢鲜</li>
            <li>本周爆款</li>
        </ul>

    </div>
    <div class="cate-goods">
        <div class="cate-good clearfix">
            <img src="../assets/img/570.jpg" alt="">
            <p>水果水果(10斤/箱)</p>
            <p class="good-desc">新鲜好水果，新上市</p>
            <p class="main-color">￥3.30<s>￥5.50</s></p>
            <span class="cate-cart">+</span>
        </div>
        <div class="cate-good clearfix">
            <img src="../assets/img/3427.jpg" alt="">
            <p>水果水果(10斤/箱)</p>
            <p class="good-desc">新鲜好水果，新上市</p>
            <p class="main-color">￥3.30<s>￥5.50</s></p>
            <span class="cate-cart">+</span>
        </div>
        <div class="cate-good clearfix">
            <img src="../assets/img/2932.jpg" alt="">
            <p>水果水果(10斤/箱)</p>
            <p class="good-desc">新鲜好水果，新上市</p>
            <p class="main-color">￥3.30<s>￥5.50</s></p>
            <span class="cate-cart">+</span>
        </div>
        <div class="cate-good clearfix">
            <img src="../assets/img/1264.jpg" alt="">
            <p>水果水果(10斤/箱)</p>
            <p class="good-desc">新鲜好水果，新上市</p>
            <p class="main-color">￥3.30<s>￥5.50</s></p>
            <span class="cate-cart">+</span>
        </div>
        <div class="cate-good clearfix">
            <img src="../assets/img/993.jpg" alt="">
            <p>水果水果(10斤/箱)</p>
            <p class="good-desc">新鲜好水果，新上市</p>
            <p class="main-color">￥3.30<s>￥5.50</s></p>
            <span class="cate-cart">+</span>
        </div>
        <div class="cate-good clearfix">
            <img src="../assets/img/931.jpg" alt="">
            <p>水果水果(10斤/箱)</p>
            <p class="good-desc">新鲜好水果，新上市</p>
            <p class="main-color">￥3.30<s>￥5.50</s></p>
            <span class="cate-cart">+</span>
        </div>
    </div>
    <!--商品列表-->

</div>

<!--footer 图标带字 首页 分类 购物车 我-->
<footer>
    <ul class="footer-menus text-center clearfix">
        <li><a href="index.html"><span class="footer-menu menu-home"></span>
            <p>首页</p></a></li>
        <li><a href="cate.html" class="active"><span class="footer-menu menu-cate"></span>
            <p>分类</p></a></li>
        <li><a href=""><span class="footer-menu menu-cart"></span>
            <p>购物车</p></a></li>
        <li><a href=""><span class="footer-menu menu-me"></span>
            <p>我</p></a></li>
    </ul>
</footer>

</body>
</html>