<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="telephone=no"/>

    <title>水果铺</title>
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../libs/Swiper/dist/css/swiper.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>

<!--header 定位图标 标题 消息图标-->
<header class="clearfix">
    <a href="" class="pull-left"><span class="ico ico-location pull-left"></span>上海</a>
    <div class="input-wrapper">
        <input type="search" placeholder="搜索您想要找的商品">
    </div>
    <a href="" class="pull-right"><span class="ico ico-message"></span></a>
</header>
<!--banner 滚动-->

<section class="banner">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide one"></div>
            <div class="swiper-slide two"></div>
            <div class="swiper-slide three"></div>
        </div>
        <div class="swiper-pagination swiper-pagination-white"></div>
    </div>
</section>

<!--menu 图标带字 1行4个，1-2行-->
<section class="menu"></section>

<!--marquee 公告、消息-->
<section class="marquee"></section>

<!--second-kill 秒杀 栏目名 时间-->
<section class="second-kill"></section>

<!--hot 热门 更多-->
<section class="hot"></section>

<!--recommend 推荐 上滑加载更多-->
<section class="recomend"></section>

<!--footer 图标带字 首页 分类 购物车 我-->
<footer>

</footer>


<script src="../libs/jquery/dist/jquery.min.js"></script>
<script src="../libs/Swiper/dist/js/swiper.jquery.min.js"></script>

<script>
    $(document).ready(function () {
        var w = $('header').outerWidth();
        $('.swiper-container').width(w).height(w / 2);
        //initialize swiper when document ready
        var mySwiper = new Swiper('.swiper-container', {
            // Optional parameters
            speed: 800,
            loop: true,
            autoplay: 1000,
            pagination : '.swiper-pagination'
        })
    });
</script>
</body>
</html>