<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="telephone=no"/>

    <title>水果铺</title>
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../libs/Swiper/dist/css/swiper.min.css">
    <link rel="stylesheet" href="../libs/dropload/dropload.css">
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>

<!--header 定位图标 标题 消息图标-->
<header class="clearfix">
    <a href="location.html" class="pull-left"><span class="ico ico-location pull-left"></span><span id="business">商圈</span></a>
    <div class="input-wrapper">
        <span class="ico-search"></span>
        <input type="search" placeholder="搜索您想要找的商品">
    </div>
    <a href="" class="pull-right"><span class="ico ico-message"></span></a>
</header>
<!--banner 滚动-->
<div class="main">
    <section class="banner">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide one"></div>
                <div class="swiper-slide two"></div>
                <div class="swiper-slide three"></div>
            </div>
            <div class="swiper-pagination swiper-pagination-white"></div>
        </div>
    </section>

    <!--menu 图标带字 1行4个，1-2行-->
    <section class="menu-sec">
        <ul class="menus text-center clearfix">
            <li><a href=""><span class="menu menu-presell"></span>
                <p>预售专区</p></a></li>
            <li><a href=""><span class="menu menu-fruit"></span>
                <p>新鲜果品</p></a></li>
            <li><a href=""><span class="menu menu-groupon"></span>
                <p>团购优惠</p></a></li>
            <li><a href=""><span class="menu menu-buyget"></span>
                <p>买赠专区</p></a></li>
        </ul>
    </section>

    <section class="ad hidden">
        <img src="../assets/img/banner.jpg" alt="">
    </section>

    <!--marquee 公告、消息-->
    <section class="marquee-sec">
        <span class="notice pull-left main-bg">店铺公告</span>
        <div class="marquee-box">
            <div class="marquee">
                <a href="">店铺开张特惠，买一赠一。店铺开张特惠，买一赠一</a>
                <a href="">好吃的水果买起 好吃的水果买起 好吃的水果买起</a>
                <a href="">正宗红富士苹果开卖 正宗红富士苹果开卖 正宗红富士苹果开卖</a>
                <a href="">店铺开张特惠，买一赠一。店铺开张特惠，买一赠一</a>
            </div>
        </div>
    </section>

    <!--second-kill 秒杀 栏目名 时间-->
    <section class="second-kill">
        <div class="section-title clearfix">
            <p>今日剁手价</p>
            <div class="time_left" data-enddate="2016-5-26-14-00-00">
                <span class="text">还剩</span>
                <span class="num hour">00</span>
                <span class="dot"></span>
                <span class="num min">00</span>
                <span class="dot"></span>
                <span class="num second">00</span>
            </div>
        </div>

        <ul class="second-kill-goods text-center clearfix">
            <li><a href=""><img src="../assets/img/570.jpg" alt="">
                <p>水果水果</p>
                <p class="main-color">￥3.30</p></a></li>
            <li><a href=""><img src="../assets/img/931.jpg" alt="">
                <p>水果水水果</p>
                <p class="main-color">￥4.40</p></a></li>
            <li><a href=""><img src="../assets/img/993.jpg" alt="">
                <p>水果水果水果</p>
                <p class="main-color">￥5.50</p></a></li>
            <li><a href=""><img src="../assets/img/1264.jpg" alt="">
                <p>水果水果</p>
                <p class="main-color">￥6.60</p></a></li>
            <li><a href=""><img src="../assets/img/2932.jpg" alt="">
                <p>水果水果水果</p>
                <p class="main-color">￥7.70</p></a></li>
            <li><a href=""><img src="../assets/img/3427.jpg" alt="">
                <p>水果水果</p>
                <p class="main-color">￥8.80</p></a></li>
        </ul>
    </section>

    <!--hot 热门 更多-->
    <section class="hot hidden"></section>

    <!--recommend 推荐 上滑加载更多-->
    <section class="recomend clearfix text-center">
        <div class="section-title clearfix">
            <p>推荐好水果</p>
        </div>
        <div class="good">
            <a href="">
                <img src="../assets/img/570.jpg" alt="">
                <p>水果水果(10斤/箱)</p>
                <p class="good-desc">新鲜好水果，新上市</p>
                <p class="main-color">￥3.30<s>￥5.50</s></p>
                <span class="ico-cart">+</span>
            </a>
        </div>
        <div class="good">
            <a href="">
                <img src="../assets/img/3427.jpg" alt="">
                <p>水果水果(10斤/箱)</p>
                <p class="good-desc">新鲜好水果，新上市</p>
                <p class="main-color">￥3.30<s>￥5.50</s></p>
                <span class="ico-cart">+</span>
            </a>
        </div>
        <div class="good">
            <a href="">
                <img src="../assets/img/2932.jpg" alt="">
                <p>水果水果(10斤/箱)</p>
                <p class="good-desc">新鲜好水果，新上市</p>
                <p class="main-color">￥3.30<s>￥5.50</s></p>
                <span class="ico-cart">+</span>
            </a>
        </div>
        <div class="good">
            <a href="">
                <img src="../assets/img/1264.jpg" alt="">
                <p>水果水果(10斤/箱)</p>
                <p class="good-desc">新鲜好水果，新上市</p>
                <p class="main-color">￥3.30<s>￥5.50</s></p>
                <span class="ico-cart">+</span>
            </a>
        </div>
        <div class="good">
            <a href="">
                <img src="../assets/img/993.jpg" alt="">
                <p>水果水果(10斤/箱)</p>
                <p class="good-desc">新鲜好水果，新上市</p>
                <p class="main-color">￥3.30<s>￥5.50</s></p>
                <span class="ico-cart">+</span>
            </a>
        </div>
        <div class="good">
            <a href="">
                <img src="../assets/img/931.jpg" alt="">
                <p>水果水果(10斤/箱)</p>
                <p class="good-desc">新鲜好水果，新上市</p>
                <p class="main-color">￥3.30<s>￥5.50</s></p>
                <span class="ico-cart">+</span>
            </a>
        </div>
    </section>
</div>
<!--footer 图标带字 首页 分类 购物车 我-->
<footer>
    <ul class="footer-menus text-center clearfix">
        <li><a href="index.html" class="active"><span class="footer-menu menu-home"></span>
            <p>首页</p></a></li>
        <li><a href="cate.html"><span class="footer-menu menu-cate"></span>
            <p>分类</p></a></li>
        <li><a href=""><span class="footer-menu menu-cart"></span>
            <p>购物车</p></a></li>
        <li><a href=""><span class="footer-menu menu-me"></span>
            <p>我</p></a></li>
    </ul>
</footer>

<!--<script src="../libs/jquery/dist/jquery.min.js"></script>-->
<!--<script src="../libs/Swiper/dist/js/swiper.jquery.min.js"></script>-->
<script src="../libs/zepto/zepto.js"></script>
<script src="../libs/Swiper/dist/js/swiper.min.js"></script>
<script src="../libs/dropload/dropload.js"></script>
<script src="../assets/js/Mars.js"></script>
<script src="../assets/js/index.js"></script>


</body>
</html>