<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection"content="telephone=no" />

    <title>水果铺</title>

    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>

<!--header 定位图标 标题 搜索图标-->

<!--banner 滚动-->

<!--menu 图标带字 1行4个，1-2行-->

<!--marquee 公告、消息-->

<!--second-kill 秒杀 栏目名 时间-->

<!--hot 热门 更多-->

<!--recommend 推荐 上滑加载更多-->

<!--footer 图标带字 首页 分类 购物车 我-->


</body>
</html>