<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="telephone=no"/>

    <title>定位</title>
</head>
<body onload="getLocation()">

<script src="../libs/jquery/dist/jquery.min.js"></script>
<script src="../assets/js/baidugeo.js"></script>

<script>
    var geo = new baidugeo();
    var support = geo.isGeoSupport();
    alert("support");
</script>
</body>
</html>