<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="telephone=no"/>
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/style.css">

    <title>搜索</title>
</head>
<body>

<header>
    <div class="input-wrapper cate-wrapper">
        <span class="ico-search"></span>
        <input type="search" placeholder="请输入商品名称、品牌名称进行搜索">
    </div>
</header>

<div class="search-main">

    <h2>热门搜索</h2>

    <div class="search-tag">
        <span>限时特价</span>
        <span>火龙果</span>
        <span>圣女果</span>
        <span>草霉</span>
        <span>买一赠一</span>
        <span>进口山竹</span>
    </div>
</div>

<!--footer 图标带字 首页 分类 购物车 我-->
<footer>
    <ul class="footer-menus text-center clearfix">
        <li><a href="index.html"><span class="footer-menu menu-home"></span>
            <p>首页</p></a></li>
        <li><a href="cate.html"><span class="footer-menu menu-cate"></span>
            <p>分类</p></a></li>
        <li><a href=""><span class="footer-menu menu-cart"></span>
            <p>购物车</p></a></li>
        <li><a href=""><span class="footer-menu menu-me"></span>
            <p>我</p></a></li>
    </ul>
</footer>

</body>
</html>