<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <title>火星坐标</title>
</head>
<body>
<div id="container"></div>
<div id="tip">
    <b>您当前的位置:</b>
    <span id="result"></span>
</div>
<script src="../assets/js/Mars.js"></script>
<script type="text/javascript">
    var d = Mars.Coordinate();
    alert(d.transform2Mars(31,120));
</script>
</body>
</html>

