html {
    box-sizing: border-box;
}

body {
    margin: 0;
}

ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}



.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.hidden {
    display: none !important;
}

.invisible {
    visibility: hidden;
}