html {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Verdana, Arial, Helvetica, microsoft yahei, '\534E\6587\7EC6\9ED1' !important;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}



.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.hidden {
    display: none !important;
}

.invisible {
    visibility: hidden;
}

.pull-left{
    float:left!important;
}
.pull-right{
    float:right!important;
}