
body{
    background: #fff;
}

header{
    padding: 0 12px;
    height:40px;
    line-height:40px;
    text-align: center;
    color:#f77a38;
    background: #fdfcfa;
}

footer{
    height:48px;
}

header a{
    height: inherit;
    font-size: 17px;
    color:#f77a38
}

.ico{
    position: relative;
    top:6px;
    display: inline-block;
    width: 28px;
    height:28px;
    background: url('../img/icons.png');
    background-size:100% ;
}

.ico-message{
    background-position: 0 -28px;
}

header input{
    padding: 7px;
    border: 1px solid #ddd;
    border-radius: 0!important;
}

.swiper-container{
    width: 640px;
    height: 310px;
}

.one{
    background: url('../img/banner1.jpg');
    background-size: 100%;
}

.two{
    background: url('../img/banner2.jpg');
    background-size: 100%;
}

.three{
    background: url('../img/banner3.jpg');
    background-size: 100%;
}