
body {
    background: #fff;
    font-size: 12px;
}

header {
    padding: 0 12px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #f77a38;
    background: #fdfcfa;
}

header a {
    height: inherit;
    font-size: 17px;
    color: #f77a38
}

.main-color,.active{
    color:#f77a38
}

.main-bg{
    color: #fff;
    background: #f77a38;
}

.ico {
    position: relative;
    top: 6px;
    display: inline-block;
    width: 28px;
    height: 28px;
    background: url('../img/icons.png');
    background-size: 100%;
}

.ico-message {
    background-position: 0 -28px;
}

.ico-search {
    float: left;
    margin-top: 5px;
    margin-left: 5px;
    width: 20px;
    height: 20px;
    background: url('../img/icons.png') 0 -200px;
    background-size: 100%;
}

header .input-wrapper {
    width: 60%;
    margin-top: 4px;
    display: inline-block;
    height: 30px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}

header input {
    float: left;
    height: 30px;
    border: 0;
}

.swiper-container {
    width: 640px;
    height: 310px;
}

.one {
    background: url('../img/banner1.jpg');
    background-size: 100%;
}

.two {
    background: url('../img/banner2.jpg');
    background-size: 100%;
}

.three {
    background: url('../img/banner3.jpg');
    background-size: 100%;
}

section {
    background: #fff;
    border-top: 1px solid #eee;
}

.menus{
    padding: 10px;
}

.menus a{
    display: inline-block;
    color: #333;
}

.menus li ,.footer-menus li {
    float: left;
    width: 25%;
}
.menu{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url('../img/menu.png');
    background-size: 100%;
}

.menu-fruit{
    background-position:0 -40px ;
}
.menu-groupon{
    background-position:0 -80px ;
}
.menu-buyget{
    background-position:0 -120px ;
}

.ad{
    background: #eee;
    padding: 8px;
}

.marquee-sec{
    padding: 5px 10px;
    border-top: 1px solid #eee;
}
.notice{
    display: inline-block;
    padding:0 3px;
    height: 20px;
    line-height: 20px;
}
.marquee-box{
    padding-left: 10px;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
}

.marquee a{
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #333;
}

.section-title{
    position: relative;
    padding: 5px 10px;
    height: 24px;
    line-height: 24px;
}

.section-title p{
    float: left;
    font-size: 18px;
}

.second-kill-goods{
    white-space: nowrap;
    overflow: scroll;
    margin-bottom: 5px;
}

.second-kill-goods img{
    width: 90%;
}

.second-kill-goods li{
    display: inline-block;
    width: 25%;
}

.second-kill-goods a{
    display: block;
    color: #333;
}

footer {
    border-top: 1px solid #ddd;
    background: #fff;
    height: 48px;
    position: fixed;
    bottom:0;
    left: 0;
    right: 0;
}

.footer-menu{
    position: relative;
    top: 4px;
    display: inline-block;
    width: 28px;
    height: 28px;
    background: url('../img/icons.png');
    background-size: 100%;
}

.menu-home{
    background-position: 0 -196px;
}

.active .menu-home{
    background-position: 0 -168px;
}

.menu-cate{
    background-position: 0 -140px;
}

.active .menu-cate{
    background-position: 0 -112px;
}

.menu-cart{
    background-position: 0 -84px;
}

.active .menu-cart{
    background-position: 0 -56px;
}

.menu-me{
    background-position: 0 -252px;
}

.active .menu-me{
    background-position: 0 -224px;
}

footer a{
    display: block;
    color: #333;
}

.recomend{
    margin-bottom: 58px;
    border-bottom: 1px solid #eee;
}

.good-desc{
    color: gray;
    font-size: 0.8em;
}

.good{
    width: 50%;
    float: left;
    position: relative;
    font-size: 16px;
}
.good a{
    display: block;
    border-top: 1px solid #eee;
    color: #333;
}

.good p{
    height: 18px;
    line-height:18px;
}

.good:nth-child(even) a{
    border-right: 1px solid #eee;
}
s{
    margin-left: 4px;
    color: #333;
    font-size: 0.9em;
}

.ico-cart{
    position: absolute;
    bottom: 62px;
    right: 5%;
    width: 25px;
    height: 25px;
    font-weight: 600;
    color: #888;
    font-size: 1.2em;
    background: #eee;
}
.time_left {
    /*display: none;*/
    position: absolute;
    right: 2.66666667%;
    top: 8px;
    z-index: 1;
    height: 20px;
    line-height: 20px;
    font-size: 0
}

.time_left .text {
    vertical-align: middle;
    font-size: 12px;
    color: #666
}

.time_left .num {
    position: relative;
    display: inline-block;
    width: 22px;
    height: 20px;
    margin: 0 3px;
    text-align: center;
    font-size: 14px;
    vertical-align: middle;
    color: #fff
}

.time_left .num:before, .time_left .num:after {
    content: '';
    position: absolute;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 10px;
}

.time_left .num:before {
    top: 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    background-color: #a3a3a3
}

.time_left .num:after {
    top: 10px;
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    background-color: #b6b6b6
}

.time_left .dot {
    position: relative;
    display: inline-block;
    width: 3px;
    height: 12px;
    vertical-align: middle
}

.time_left .dot:before, .time_left .dot:after {
    content: '';
    position: absolute;
    left: 0;
    width: 3px;
    height: 3px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #bdbdbd
}

.time_left .dot:before {
    top: 0
}

.time_left .dot:after {
    bottom: 0
}

