
body {
    background: #fff;
}

header {
    padding: 0 12px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #f77a38;
    background: #fdfcfa;
}

footer {
    height: 48px;
}

header a {
    height: inherit;
    font-size: 17px;
    color: #f77a38
}

.ico {
    position: relative;
    top: 6px;
    display: inline-block;
    width: 28px;
    height: 28px;
    background: url('../img/icons.png');
    background-size: 100%;
}

.ico-message {
    background-position: 0 -28px;
}

.ico-search {
    float: left;
    margin-top: 5px;
    margin-left: 5px;
    width: 20px;
    height: 20px;
    background: url('../img/icons.png') 0 -200px;
    background-size: 100%;
}

header .input-wrapper {
    width: 60%;
    margin-top: 4px;
    display: inline-block;
    height: 30px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}

header input {
    float: left;
    height: 30px;
    border: 0;
}

.swiper-container {
    width: 640px;
    height: 310px;
}

.one {
    background: url('../img/banner1.jpg');
    background-size: 100%;
}

.two {
    background: url('../img/banner2.jpg');
    background-size: 100%;
}

.three {
    background: url('../img/banner3.jpg');
    background-size: 100%;
}

section {
    background: #fff;
}

.menus{
    padding: 10px;
}

.menus a{
    display: inline-block;
    color: #333;
    font-size: 12px;
}

.menus li {
    float: left;
    width: 25%;
}
.menu{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url('../img/menu.png');
    background-size: 100%;
}

.menu-fruit{
    background-position:0 -40px ;
}
.menu-groupon{
    background-position:0 -80px ;
}
.menu-buyget{
    background-position:0 -120px ;
}

.ad{
    background: #eee;
    padding: 8px;
}